.noti-minigame {
	background: $black-bg-cl;
	text-align: center;
	p {
		color: $white-cl;
		padding: 15px 0;
		font-weight: m;
		b {
			font-family: b;
		}
	}
}
header {
	box-shadow: 0 0 10px rgb(142, 142, 150);

	.header-top {
		background: $gray-bg-cl;
		@include mobile {
			display: none;
		}
		ul {
			display: flex;
			align-items: center;
			padding: 8px 0;
			li {
				margin-left: 40px;
				a {
					display: flex;
					align-items: center;
					svg {
						margin-right: 10px;
					}
					&.cart {
						&::after {
							content: "(0)";
							color: $red-cl;
						}
					}
				}
				&.tel {
					flex-grow: 1;
					margin-left: 0;
					a {
						font-family: b;
					}
				}
			}
		}
	}
	.header-desktop {
		background: $white-bg-cl;
		&.active {
			position: fixed;
			z-index: 80;
			width: 100%;
			left: 0;
			top: 0;
			-webkit-animation: translateY 0.8s ease-in-out;
			animation: translateY 0.8s ease-in-out;
			.header-desktop__menu {
				padding: 8px 0;
			}
		}
		@include tablet {
			display: none;
		}
		// @include maxH(500px) {
		// 	display: none;
		// }
		&__menu {
			@include betweenFlex();
			padding: 20px 0;
			.logo {
				max-width: 200px;
				@include tablet {
					max-width: 150px;
				}
			}
			.search {
				max-width: 240px;
				position: relative;
				@include tablet {
					max-width: auto;
				}
				input {
					width: 100%;
					padding: 10px;
					outline: none;
					border-radius: 22px;
					border: 2px solid #cacaca;
					border-color: #cacaca;
					display: block;
					@include tablet {
						display: none;
					}
				}
				a {
					width: 25px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 15px;
					@include tablet {
						position: inherit;
						transform: translateY(0);
						right: 0;
					}
				}
			}
			ul.menu {
				@include midflex();
				@include tablet {
					display: none;
				}
				position: relative;
				.sub-menu {
					position: absolute;
					width: 100%;
					display: flex;
					align-items: self-end;
					top: calc(100% + 12px);
					left: 0;
					background: $white-bg-cl;
					z-index: 30;
					padding: 20px 0;
					box-shadow: 0px 0px 10px 0px rgb(142, 142, 150);
					transform: translateY(40px);
					opacity: 0;
					pointer-events: none;
					transition: $t;
					ul {
						max-width: 30%;
						flex-basis: 30%;
						li {
							a {
								text-transform: uppercase;
								font-family: b;
								font-weight: 700;
								font-size: 15px;
								position: relative;
								display: block;
								line-height: 3;
								color: $gray-2-cl;
								transition: all 0.3s;

								&:hover {
									color: $black-cl;
								}
							}
						}
					}
					&__img {
						display: flex;
						align-items: center;
						max-width: 70%;
						flex-basis: 70%;
						.img {
							max-width: 33.33%;
							flex-basis: 33.33%;
							padding: 0 10px;
							img {
								max-height: 100%;
							}
							p.sub-img {
								text-overflow: ellipsis;
								overflow: hidden;
								display: -webkit-box;
								-webkit-line-clamp: 1;
								-webkit-box-orient: vertical;
								margin: 10px 0 0;
								color: $gray-2-cl;
							}
						}
					}
				}
				li {
					margin: 0 15px;
					&:hover {
						.sub-menu {
							opacity: 1;
							pointer-events: auto;
							transform: translateY(0);
						}
					}
					a {
						span {
							text-transform: uppercase;
							font-family: b;
							font-size: 15px;
							position: relative;
							padding: 10px 0;
							color: $gray-1-cl;
							@include maxW(1035px) {
								font-size: 14px;
							}
							&::before {
								content: "";
								position: absolute;
								width: 100%;
								height: 2px;
								background: $black-bg-cl;
								display: block;
								top: 100%;
								left: 0;
								transition: all 0.4s ease-in-out;
								opacity: 0;
							}
						}
						&:hover {
							span::before {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	.header-tablet {
		display: none;
		position: relative;
		z-index: 80;
		// @include maxH(500px) {
		// 	display: block;
		// }
		@include tablet {
			display: block;
			background: $white-cl;
			&.active {
				position: fixed;
				z-index: 80;
				width: 100%;
				left: 0;
				top: 0;
				-webkit-animation: translateY 0.8s ease-in-out;
				animation: translateY 0.8s ease-in-out;
				box-shadow: 0 0 10px rgb(146, 146, 148);
				.header-tablet__menu {
					padding: 8px 0;
				}
			}
		}
		&__menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 0;
			.logo {
				max-width: 160px;
				@include mobile {
					max-width: 130px;
				}
			}
			ul {
				display: flex;
				align-items: center;
				li.search {
					width: 30px;
					cursor: pointer;
				}
				li.hamburger {
					margin-left: 10px;
					transform: translateY(4px);
					@include mobile {
						transform: translateY(2px);
					}
				}
				&.icon-social__mobile {
					display: none;
					@include mobile {
						display: flex;
						li {
							&.search {
								width: auto;
								height: auto;
							}
							a {
								padding: 5px 0;
								margin-left: 15px;
								img {
									width: 20px;
									height: auto;
									padding: 0;
									margin: 0;
								}
							}
						}
					}
				}
				&.icon-social {
					@include mobile {
						display: none;
					}
				}
			}
		}
	}
}
.menu-mobile {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 99;
	&__wrap {
		width: 100%;
		top: 0;
		left: 0;
		background-color: $white-bg-cl;
		// box-shadow: 0px 15px 10px #e7dede;
		transition: all 0.5s ease-in-out;
	}
	&__list {
		width: 100%;

		li {
			display: flex;
			align-items: center;
			width: 100%;
			flex-wrap: wrap;
			border-bottom: 1px solid #cacaca;

			ul {
				width: 100%;
				display: none;
				li {
					a {
						padding: 13px 10px 13px 40px;
					}
				}
			}
			a {
				text-transform: uppercase;
				display: block;
				width: 100%;

				&.items {
					max-width: 90%;
					flex-basis: 90%;
					padding: 13px 10px 13px 20px;
					font-family: b;
					transition: $t;
					&:hover {
						color: #5c5a5a;
					}
				}
				&.btn-sub {
					display: flex;
					align-items: center;
					justify-content: center;
					max-width: 10%;
					flex-basis: 10%;
					padding: 13px 0;
					img {
						width: 15px;
						margin: 0;
						padding: 0;
						height: auto;
						transition: $t;
					}
					&.active {
						img {
							transform: rotate(90deg);
						}
					}
				}
			}
			&.tel {
				border: none;
				a {
					background: #f2f2f2;
					border-bottom: 1px solid #fff;
					max-width: 100%;
					flex-basis: 100%;
				}
			}
		}
	}
}
@-webkit-keyframes translateY {
	from {
		transform: translateY(-120%);
	}
	to {
		transform: translateY(0%);
	}
}
@keyframes translateY {
	from {
		transform: translateY(-120%);
	}
	to {
		transform: translateY(0%);
	}
}
.cart-section {
	opacity: 0;
	pointer-events: none;
	transition: all 0.6s;
	position: fixed;
	z-index: 2000;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;

	&.active {
		opacity: 1;
		pointer-events: auto;
		.cart-container {
			transform: translateX(0%);
		}
	}
	.cart-container {
		position: fixed;
		width: 480px;
		height: 100vh;
		right: 0;
		top: 0;
		background: $white-bg-cl;
		z-index: 8888;
		overflow: hidden;
		padding: 60px 20px;
		transition: all 0.6s;
		transform: translateX(100%);
		.cart-title {
			@include betweenFlex();
			p {
				font-family: semi;
				font-size: 16px;
				text-transform: uppercase;
				line-height: 21px;
			}
		}
		.cart-text {
			width: 100%;
			margin: 5px 0 0;
			border-bottom: 1px dotted #bcbcbc;
			padding: 0 0 15px;
		}
		table {
			width: 100%;
			border-spacing: 0;
			tbody {
				tr {
					border: none;
					td {
						padding: 20px 20px 20px 0;
						position: relative;
					}
				}
			}
		}
		span.line {
			width: 100%;
			border-top: 2px solid #000;
			margin: 10px 0;
			display: block;
		}
		.total {
			@include betweenFlex();
			flex-wrap: wrap;
			padding-top: 10px;
			h3 {
				text-transform: uppercase;
				font-family: b;
			}
			p.price {
				font-family: b;
			}
			a {
				margin-top: 15px;
				width: 100%;
				padding: 10px 30px;
				white-space: nowrap;
				background: #000;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
	}
}
.search-mobile {
	opacity: 0;
	pointer-events: none;
	transition: all 0.6s;
	position: fixed;
	z-index: 200;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	.overlay {
		position: fixed;
	}
	&.active {
		opacity: 1;
		pointer-events: auto;
		.search-container {
			transform: translateX(0%);
		}
	}
	.search-container {
		position: fixed;
		width: 480px;
		height: 100vh;
		right: 0;
		top: 0;
		background: $white-bg-cl;
		z-index: 8888;
		overflow: hidden;
		padding: 60px 20px;
		transition: all 0.6s;
		transform: translateX(100%);
		@include mobile {
			max-width: 320px;
		}
		.search-title {
			margin-bottom: 30px;
			@include betweenFlex();
			p {
				font-family: semi;
				font-size: 16px;
				text-transform: uppercase;
				line-height: 21px;
			}
		}
		form {
			.form-group {
				width: 100%;
				position: relative;
				input {
					width: 100%;
					background: #f5f5f5;
					color: #252a2b;
					border: none;
					height: 55px;
					font-size: 15px;
					font-weight: 500;
					padding: 0 55px 0 20px;
					margin: 0;
					display: inline-block;
					border-radius: 0;
					-webkit-appearance: none;
					outline: none;
					transition: all 0.15s linear;
				}
				a {
					width: 30px;
					position: absolute;
					top: 50%;
					right: 10px;
					transform: translateY(-50%);
					img {
					}
				}
			}
		}
	}
}
